<table cellspacing="0" id="operations" class="operations tablesorter">
	<thead>
		<tr>
			<th class="id">{{ _('Id') }}</th>
			<th>{{ _('Product') }}</th>
			<th>{{ _('Station') }}</th>
			<th>{{ _('Operation Type') }}</th>
			<th>{{ _('Status') }}</th>
            <th class="date">{{ _('Date Added') }}</th>
			<th style="width:150px">{{ _('Extras') }}</th>
		</tr>
    </thead>
    <tbody>
	{% for operation in operations %}
		<tr>
			<td class="right"><a href="{{ url_for('operations.edit', id=operation.id) }}">{{ operation.id }}</a></td>
			<td><a href="{{ url_for('products.product', id=operation.product_id) }}">{{ operation.product_id }}</a></td>
			<td><a href="{{ url_for('stations.station', id=operation.station_id) }}">{{ operation.station.name }}</a></td>
  			<td><a href="{{ url_for('operation_types.operation_type', id=operation.operation_type.id) }}">{{ operation.operation_type.name }}</a></td>  	
  			<td><a href="{{ url_for('operation_statuses.operation_status', id=operation.operation_status.id) }}">{{ operation.operation_status.name }}</a></td>
   			<td class="right date">{{ operation.date_time }}</td>

			<td>
				{% if current_user.is_admin  %}
			        <div id="operation-moderate-{{ operation.id }}" class="pull-right">
			            <a class="btn btn-danger api-operation-delete" data-id="{{ operation.id }}" href="#"><span class="glyphicon glyphicon-trash"></span>{{ _('Delete') }}</a>
			  			</div>
			  			<div id="operation-deleted-{{ operation.id }}" class="pull-right" style="display: none;">
			      			<span class="glyphicon glyphicon-trash"></span> <b>{{ _('Deleted') }}</b>
			  			</div>
				{% endif %}
 			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>