{% extends "base.html" %}

{% block page_content %}
<div class="page-header operation-profile">
    {% if current_user.is_admin %}<a class="btn btn-default pull-right" href="{{ url_for('operations.edit', id=operation.id) }}">{{ _('Edit') }}</a>{% endif %}
    <h1>{{ _('Details for') }}: {{ operation.name }}</h1>
    <p>
    	<ul>
	    	{% if operation.id %}<p>{{ _('Id') }}: {{ operation.id }}</p>{% endif %}

			<p>{{ _('Product') }}: <a href="{{ url_for('products.product', id=operation.product_id) }}">{{ operation.product_id }}</a></p>
			<p>{{ _('Station') }}: <a href="{{ url_for('stations.station', id=operation.station_id) }}">{{ operation.station.name }}</a></p>
  			<p>{{ _('Operation Type') }}: <a href="{{ url_for('operation_types.operation_type', id=operation.operation_type.id) }}">{{ operation.operation_type.name }}</a></p>  	
  			<p>{{ _('Status') }}: <a href="{{ url_for('operation_statuses.operation_status', id=operation.operation_status.id) }}">{{ operation.operation_status.name }}</a></p>
	    	
    	</ul>
    </p>
    
</div>
{% endblock %}