<tr>
	<td class="id right"><a href="{{ url_for('units.edit', id=unit.id) }}">{{ unit.id }}</a></td>
	<td><a href="{{ url_for('units.unit', id=unit.id) }}">{{ unit.name }}</a></td>
	<td><a href="{{ url_for('units.unit', id=unit.id) }}">{{ unit.symbol }}</a></td>
	<td>{{ unit.description }}</td>
	<td class="extras">
	    {% if current_user.is_admin  %}
	    <a class="btn btn-danger pull-right" href="{{ url_for('units.delete', id=unit.id) }}">{{ _('Delete') }}</a>
	    <a class="btn btn-primary pull-right" href="{{ url_for('units.edit', id=unit.id) }}">{{ _('Edit') }}</a>
	    {% endif %}
	</td>
</tr>