<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="run_prod.app" />
    <add key="PYTHONPATH" value="C:\Python36\;C:\Python36\DLLs\;C:\Python36\Scripts\;C:\Python36\Tools\;C:\Python36\Tools\ninja\;%APPL_PHYSICAL_PATH%" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="E:\log\trace_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
	<!--
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />

    <add key="DJANGO_SETTINGS_MODULE" value="my_app.settings" />
    <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
    <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />
		-->
  </appSettings>
  
 
</configuration>
