<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
 <system.webServer>
  <heliconZoo>
   <clear />
   <application name="python.project" >
    <environmentVariables>
     <add name="VIRTUAL_ENV" value="%APPL_PHYSICAL_PATH%\venv" />
     <add name="PATH" value="%APPL_PHYSICAL_PATH%\venv\Scripts;%PATH%" />
     <add name="PYTHONPATH" value="%APPL_PHYSICAL_PATH%\venv\lib\site-packages;%APPL_PHYSICAL_PATH%\venv\lib;%APPL_PHYSICAL_PATH%;%APPL_PHYSICAL_PATH%\\ZooPythonProject2" />
      <add name="DATABASE_URL" value="sqlite:///d:\data\prodLineTrace.db" />
     <!-- generic wsgi app -->
     <add name="WSGI_APP" value="run_prod.app" />


     <!-- tornado app -->
     <!-- <add name="APP_WORKER" value="%APPL_PHYSICAL_PATH%\server.py" /> -->

     <!-- web console -->
     <!-- security rules for console are placed in /console/web.config -->
     <add name="CONSOLE_URL" value="console" />

     <!-- application deployment -->
     <add name="DEPLOY_FILE" value="deploy.py" />
     <!-- <add name="DEPLOY_LOG" value="deploy.log" /> -->

     <!-- logging -->
     <add name="ERROR_LOG_DIR"  value="log" />

     <!-- reload on files changes -->
     <!-- <add name="WATCH_FILE_CHANGES_MASK" value="*.py" /> -->

    </environmentVariables>
   </application>
  </heliconZoo>

  <handlers>

   <remove name="python.project#x86" />
   <remove name="python.project#x64" />

   <!-- Django or WSGI application over fastcgi -->
   <add name="python.project#x86" scriptProcessor="python.2.7.wsgi" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
   <add name="python.project#x64" scriptProcessor="python.2.7.wsgi" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />

   <!-- HTTP backend (Tornado) over http -->
   <!--
   <add name="python.project#x86" scriptProcessor="python.2.7.http" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
   <add name="python.project#x64" scriptProcessor="python.2.7.http" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
    -->

   <!-- HTTP backend (Twisted) over http -->
   <!--
   <add name="python.project#x86" scriptProcessor="python.2.7.twisted" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
   <add name="python.project#x64" scriptProcessor="python.2.7.twisted" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
    -->
  </handlers>
  
 </system.webServer>
</configuration>
