{% extends "base.html" %}

{% block page_content %}

{% if current_user.is_admin %}
	<a class="btn btn-primary pull-right" href="{{ url_for('operation_types.new') }}">{{ _('New Operation Type') }}</a>
{% endif %}

<ul class="pager">
	{{ pagination.links }}
</ul>
{% include "operation_types/_operation_types.html" %}
<ul class="pager">
	{{ pagination.info }}
	{{ pagination.links }}
</ul>

{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/jquery.tablesorter.widgets.js"></script>
	<script type="text/javascript">
	$(function() {
        $("#operation_types")
        .tablesorter({
        	theme: 'blue',
            	sortList: [[0,0]],  // sort by in on load (ascending)
        		widgets: ["zebra", "filter"],
            	widgetOptions: {
            	      filter_columnFilters: true,
            	      filter_placeholder: { search : 'Filter...' },
            	      filter_reset: '.reset'
              	}
        });

	});
	</script>

	{% include "_api_client.html" %}
{% endblock %}