<tr>
	<td class="id right"><a href="{{ url_for('descriptions.edit', id=description.id) }}">{{ description.id }}</a></td>
	<td><a href="{{ url_for('descriptions.description', id=description.id) }}">{{ description.name }}</a></td>
	<td>{{ description.display_format }}</td>
	<td>{{ description.description }}</td>
	<td class="extras">
	    {% if current_user.is_admin  %}
	    <a class="btn btn-danger pull-right" href="{{ url_for('descriptions.delete', id=description.id) }}">{{ _('Delete') }}</a>
	    <a class="btn btn-primary pull-right" href="{{ url_for('descriptions.edit', id=description.id) }}">{{ _('Edit') }}</a>
	    {% endif %}
	</td>
</tr>