{% extends "base.html" %}

{% block page_content %}
<div class="page-header operation_status-profile">
    {% if current_user.is_admin %}<a class="btn btn-default pull-right" href="{{ url_for('operation_statuses.edit', id=operation_status.id) }}">{{ _('Edit') }}</a>{% endif %}
    <h1>{{ _('Details for') }}: {{ operation_status.name }}</h1>
    <p>
    	<ul>
	    	<p>{{ _('Id') }}: {{ operation_status.id }}</p>
	    	<p>{{ _('Name') }}: {{ operation_status.name }}</p>
 		   	<p>{{ _('Unit Name') }}: {{ operation_status.unit.name }}</p>
		   	<p>{{ _('Unit Symbol') }}: [{{ operation_status.unit.symbol }}]</p>
	    	{% if operation_status.description %}<p>{{ _('Description') }}: {{ operation_status.description }}</p>{% endif %}
    	</ul>
    </p>

</div>
{% endblock %}