{% extends "base.html" %}

{% block page_content %}

{% if current_user.is_admin %}
	<a class="btn btn-primary pull-right" href="{{ url_for('programs.new') }}">{{ _('New Program') }}</a>
{% endif %}

{% include "programs/_programs.html" %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/jquery.tablesorter.widgets.js"></script>
	<script type="text/javascript">
	$(function() {
        $("#programs")
        .tablesorter({
        	theme: 'blue',
            	sortList: [[0,0]],  // sort by in on load (ascending)
        		widgets: ["zebra", "filter"],
            	widgetOptions: {
            	      filter_columnFilters: true,
            	      filter_placeholder: { search : 'Filter...' },
            	      filter_reset: '.reset'
              	}
        });

	});
	</script>

	{% include "_api_client.html" %}
{% endblock %}